
.pclientbox{
    /*background: #f4f3ef;*/
    background-color: #f4f3ef;
}
.headprofilecompany{
    font-size: 20px !important;

}
.companylogoimg{
    width: 150px !important;
    height: auto !important;
    margin-top: 15px;
    border-radius: 75px !important;

}
.companyfileprofile{
    margin-bottom: 10px;

}
.companyProfilebox{
    border:0 !important;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5% !important;
    background: #fff;
    color:#252422;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    box-sizing: border-box;
}

.featureClientOnboard{
    border:0 !important;
margin-bottom: 4%;
    margin-top: 2% !important;
    border-radius: 12px !important;
    margin-left: 5% !important;
    margin-right: 5px !important;
    background: #fff;
color:#252422;
box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
box-sizing: border-box;
}

.rightOneBoxClientOnboard{
    border:0 !important;
    border-radius: 10px !important;
margin-right: 5% !important;
background: #fff;
color:#252422;
box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
box-sizing: border-box;
}

.rightTwoBoxClientOnboard2{
    border:0 !important;
    border-radius: 10px !important;
margin-right: 5% !important;
margin-top: 2% !important;
background: #fff;
color:#252422;
box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
box-sizing: border-box;

}
